<a href="https://colab.research.google.com/github/32KimJunGu/ai/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
'''

# 보통 삼중 따옴표 주석은 
# 여러줄을 주석으로 사용할 때 사용한다.

#주석 붙이는 위치

print('hellow World') # 보통 행의 우측 또는 위에 주석을 붙인다.

hellow World

In [ ]:
###############
# 변수 Variable
###############

score = 100

print(score)

100

In [ ]:
name ='Alice'
age=25
address='''우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''
boyfriend = None
height = 168.5

print(name);
print(age);
print(address);
print(boyfriend);
print(height);

Alice
25
우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5

In [ ]:
##################
# 기본 자료형 type
##################

a = int(1.9)
print(a)

b = int(True)
print(b)

c = int(False)
print(c)

1
1
0

In [ ]:
print(100)
print('100')

100
100

In [ ]:
a = 100
b = '100'
print(type(a))
print(type(b))

print(a)
print(b)
print(a==b)

c = int(b)
print(type(c))
print(a==c)

<class 'int'>
<class 'str'>
100
100
False
<class 'int'>
True

In [ ]:
# 실수 float

a = float(1)
print (a)

b = float(True)
print(b)

c = float('3.14')
print(c)

d = float('100')
print(d)

1.0
1.0
3.14

In [ ]:
# bool 논리 True or False

a = bool(0)
print(a)

b = bool()
print(b)

c = bool([])
print(c)

d = bool([1])
print(d)

False
False
False
True

In [ ]:
#############
# 문자열
############


a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [ ]:
# 문자열 인덱싱

#hello 파이썬은 0에서 시작한다.

s = 'Hello'
print(s[4])

print(s[-1])
print(s[-5] == s[0])

ss = "990211-1005432"
print(ss[7])

o
o
True
1

In [ ]:
ss = "990211-1005432"
print(ss[0:2]) # 0번째부터 2번째 미만까지...[start: stop : step] , 미만 조심!!!
print(ss[0:2]) # step은 생략 가능
print(ss[0:10:2]) # step은 생략 가능

99
99
901-0

In [ ]:
# print

print('Hello World')

Hello World

In [ ]:
print("Hello 'World'")

Hello 'World'

In [ ]:
print('Hello \'World\'') # \ 은 무시한다?
print("Hello \"World\"")
print('Hello "World"') #셋 다 같다

Hello 'World'
Hello "World"
Hello "World"

In [ ]:
print('hello\n "World"') # \n 은 줄바꿈

hello
 "World"

In [ ]:
print("이름 \n전화")

이름
전화

In [ ]:
print('이름\t연락처') # \t는 탭 (공간을 띄워줌)
print('홍길동\t010-2020-2903')

이름	연락처
홍길동	010-2020-2903

In [ ]:
print('재미있는', '파이썬')

재미있는 파이썬

In [ ]:
print('평점')
print('5점')

평점
5점

In [ ]:
print('평점', end=':') # end=':'는 밑으로 가지말고 옆에다가 붙여라 라는 뜻이다
print('5점')

평점:5점

In [ ]:
print('국어', '영어', '수학')
print('국어', '영어', '수학', sep = '/') # sep ='/' 는 사이에 /
print('국어', '영어', '수학', sep = ',') # sep = ','는 사이에 ,
print('국어', '영어', '수학', sep = '\n') # sep = '\n'은 줄바꿈
print('\n국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어,영어,수학
국어
영어
수학

국어
영어
수학

In [ ]:
# %연산자

print(10)
print('%d' % 10)    # %d decimal 정수
print('%f' % 3.14)   # %f float 실수
print('%s' % '학생')   # %s string 문자열

print('%d 을 입력하세요' % 10)    # %d decimal 정수
print('원주율은 %f 입니다.' % 3.14)   # %f float 실수
print('원주율은 %s 입니다.' % 3.14)

std = "대학생"
print('저는 %s 입니다'  %std)   # %s string 문자열
print('저는', std, '입니다.')

10
10
3.140000
학생
10 을 입력하세요
원주율은 3.140000 입니다.
원주율은 3.14 입니다.
저는 대학생 입니다
저는 대학생 입니다.

In [ ]:
print("%d" % 1)
print("%5d" % 1) # %와 d 사이에 숫자 넣으면 그 숫자만큼 칸이 띄워진다
print("%-5d" % 1)
print("%5d" % 11)
print("%-5d" % 11)

1
    1
1
   11
11

In [ ]:
print('원주율은 %f 입니다.' % 3.14)
print('원주율은 %5.2f 입니다.' % 3.14) # 5는 5자리를 확보하고 2는 소숫점2자리까지 나온다
print('원주율은 %-5.1f 입니다.' % 3.14)
print('원주율은 %.2f 입니다.' % 3.14)

원주율은 3.140000 입니다.
원주율은  3.14 입니다.
원주율은 3.1   입니다.
원주율은 3.14 입니다.

In [ ]:
name = 'kai'
print('내 이름은 %s입니다.' % name)

내 이름은 kai입니다.

In [ ]:
height = 185.5
print('내 키는 %f입니다.' % height)
print('내 키는 %.1f입니다.' % height)
print('내 키는 %s입니다.' % height)
print('내 키는 %s이고 이름은 %s입니다.' % (height, name))

내 키는 185.500000입니다.
내 키는 185.5입니다.
내 키는 185.5입니다.
내 키는 185.5이고 이름은 kai입니다.

In [ ]:
# format()

zipcode = '06236'
print('우편번호 : %s' % zipcode)
print('우편번호 : {}'. format(zipcode))
print('내 키는 {}이고 이름은 {}입니다.' .format(height, name))

우편번호 : 06236
우편번호 : 06236
내 키는 185.5이고 이름은 kai입니다.

In [ ]:
print('My name is {}. I\'m {} years old.' . format('James', 25))
print('My name is {1}. I\'m {0} years old.' . format(25, 'James'))
print('My name is {name}. I\'m {age} years old.' . format(age=25, name='James'))

My name is James. I'm 25 years old.
My name is James. I'm 25 years old.
My name is James. I'm 25 years old.

In [ ]:
# f-strings
# 파이썬 3.6 이후 부터 사용 가능

who = 'you'
how = 'happy'
print(f'{who} make me {how}')

you make me happy

In [ ]:
age = 25
print(f'내년에는 {age+1} 입니다.')

내년에는 26 입니다

In [ ]:
#######################
# 입력 input()
#######################

n = input())
print(f'당신이 입력한 내용은 {n}입니다.')  # 아래것보다 옆에것이 훨씬 편하다
print('당신이 입력한 내용은', n , '입니다.')

연습
당신이 입력한 내용은 연습입니다.
당신이 입력한 내용은 연습 입니다.

In [ ]:
n = input('당신의 나이를 입력하세요  ')
print(f'당신이 입력한 내용은 {n} 입니다.')  # 아래것보다 옆에것이 훨씬 편하다
print('당신이 입력한 내용은', n , '입니다.')

당신의 나이를 입력하세요  20
당신이 입력한 내용은 20입니다.
당신이 입력한 내용은 20 입니다.

In [ ]:
print(이름을 입력하세요?)
print(나이를 입력하세요?)
print(f'당신의 이름은 {name} 이고 나이는 {age} 입니다.')

SyntaxError: ignored

In [ ]:
name = input('당신의 이름을 입력하세요')
age = int(input('당신의 나이를 입력하세요')) #input으로 들어가는 모든 것은 string이다

# 1 기본
print('당신의 이름은', name, '이고 나이는' , age , '입니다.')

# 2 f-string
print(f'당신의 이름은 {name} 이고 나이는 {age} 입니다.')

# 3 format()
print('당신의 이름은 {} 이고 나이는 {} 입니다.' .format(name, age))

# 4 % 연산자
print('당신의 이름은 %s 이고 나이는 %d 입니다.' % (name, age))


print(name, type(name))
print(age, type(age))

당신의 이름을 입력하세요홍길동
당신의 나이를 입력하세요20
당신의 이름은 홍길동 이고 나이는 20 입니다.
당신의 이름은 홍길동 이고 나이는 20 입니다.
당신의 이름은 홍길동 이고 나이는 20 입니다.
당신의 이름은 홍길동 이고 나이는 20 입니다.
홍길동 <class 'str'>
20 <class 'int'>

In [ ]:
month = int(input('할부 개월 입력 : '))
sum = int(input('물건 가격 : '))
monthly = sum/month

# 1 기본

print(month,'개월 동안 매달 내는 금액은' ,monthly,'입니다.')
# 2 f-strings 
print(f'{month}개월 동안 매달 내는 금액은 {monthly} 입니다.')

#3 format()
print('{}개월 동안 매달 내는 금액은 {} 입니다.'. format(month, monthly))

#4 % 연산자
print('%d개월 동안 매달 내는 금액은 %f 입니다' % (month, monthly))

할부 개월 입력 : 5
물건 가격 : 50000
5 개월 동안 매달 내는 금액은 10000.0 입니다.
5개월 동안 매달 내는 금액은 10000.0 입니다.
5개월 동안 매달 내는 금액은 10000.0 입니다.
5개월 동안 매달 내는 금액은 10000.000000 입니다

In [ ]:
num1 = float
num2 = float
sum = num1 + num2


# 1 기본
print(num1과 num2의 합계는 sum 입니다.)

# 2 f-strings 
print(num1과 num2의 합계는 sum 입니다.)

#3 format()
print('{}개월 동안 매달 내는 금액은 {} 입니다.'. format(month, monthly))

#4 % 연산자
print('%d개월 동안 매달 내는 금액은 %f 입니다' % (month, monthly))