<a href="https://colab.research.google.com/github/32KimJunGu/ai/blob/main/day4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print()
print('Hello Python Programming')
print('52')

Hello Python Programming
52

In [ ]:
print(52,11,'world')

52 11 world

In [ ]:
print('hello world')
print()
print(1,2,3,4,5)

hello world

1 2 3 4 5

In [ ]:
# 주석은 컴퓨터는 읽지 않는다.
print('한글 사용') # 주석은 코드에 대한 설명을 표현한다.

한글 사용

In [ ]:
#기본자료형
#문자열 str  '안녕','hello'
#숫자 int        1,2,3,4,5
#논리(불) boolean  True, False

print(type('안녕'))
print(type("안녕"))
print(type(123))
print('"안녕"이라고 했다')
print("'안녕'이라고 했다")
print("\"안녕\"이라고 했다") #이스케이프 문자
print()

<class 'str'>
<class 'str'>
<class 'int'>
"안녕"이라고 했다
'안녕'이라고 했다
"안녕"이라고 했다

In [ ]:
print('이름\t나이\t지역')
print('김현아\t20\t강남구')

이름	나이	지역
김현아	20	강남구

In [ ]:
print('hello\nworld')

hello
world

In [ ]:
print('안녕'+'하세요')

안녕하세요

In [ ]:
print('안녕','하세요')

안녕 하세요

In [ ]:
print('-' * 30)          # 됨

------------------------------

In [ ]:
print('-' + 30)          #안됨

TypeError: can only concatenate str (not "int") to str

In [ ]:
#문자열에서 인덱싱(문자 하나를 선택)

print('안녕하세요'[0])   #파이썬은 0에서 시작
print('안녕하세요'[1])
print('안녕하세요'[2])
print('안녕하세요'[3])
print('안녕하세요'[4])

In [1]:
print('안녕하세요'[-1])   
print('안녕하세요'[-2])
print('안녕하세요'[-3])
print('안녕하세요'[-4])
print('안녕하세요'[-5])

요
세
하
녕
안

In [2]:
#문자열에서의 슬라이싱(문자열에서 여러글자 선택)

print('안녕하세요'[1:4])    #[1부터 4미만]
print('안녕하세요'[1:])     #1부터 끝까지
print('안녕하세요'[:3])     #처음부터 3까지
print('안녕하세요'[:])      # 처음부터 끝까지

녕하세
녕하세요
안녕하
안녕하세요

In [3]:
print('안녕하세요'[9])    #안됨

IndexError: ignored

In [4]:
#문자열의 길이 구하기
print(len('안녕하세요'))  #길이는 1에서 시작한다

5

In [ ]:
# 조건문

#bool & if

print(True)

In [ ]:
print(true)    # 안됨

In [ ]:
print(10 == 100)
print(10 != 100)
print(10<100)
print(10>100)
print(10>=100)

In [ ]:
print("가방" == "가방")
print("가방" == "백")
print("가방" != "백")
print("가방" > "백") # 한글은 사전 순서(가나다순)
print("가방" < "백")

In [ ]:
# if 조건문
# 조건에 따라 특정 코드를 실행하거나 특정 코드를 실행하지 않게 만들고 싶을때 사용
# 코드의 실행 흐름을 변경시키는 것을 조건 분기라고 부른다.

num = int(input('정수를 입력하세요 >>'))

if num > 0 :
    print('양수입니다')
    
if num < 0:
    print('음수입니다')
if num == 0:
    print('0입니다')

In [5]:
# 날짜/시간과 관련된 기능을 가져온다.

import datetime

# 현재의 날짜와 시간을 구하는 함수
now = datetime.datetime.now()

print(now)
print(now.year,'년')
print(now.month,'월')
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)

2022-02-12 06:41:41.376231
2022 년
2 월
12
6
41
41

In [ ]:
#현재 시각은 14시 33분 오후힙니다
#현재 시각은 08시 01분 오전입니다

import datetime

now = datetime.datetime.now()

if now.hour<12:
    print(f'현재시각은{now.hour}시 {now.minute}분 오전입니다')
    
if now.hour>=12:
    print(f'현재시각은{now.hour}시 {now.minute}분 오후입니다')

In [ ]:
#12,1,2 겨울 3,4,5,봄 6,7,8 여름 9,10,11 가을
# 이번 달은 1월로 겨울입니다.
#if만 사용하세요

season = ''

if 3 <= now.month <=5 :
    season = '봄'
if 6 <= now.month <=8 :
    season = '여름'
if 9 <= now.month <=11 :
    season = '가을'
if now.month == 12 or 1 <= now.month <= 2:
    season = '겨울'
    
print(f'이번달은 {now.month}월로 {season}입니다')

In [8]:
# % 연산자를 사용하지않고
# 정수를 입력받아 그 수가 짝수인지 홀수인지를 알려주는 프로그램을 작성하세요

# (입력) 정수를 입력하세요 >>>52
# (출력) 짝수입니다.

number = input('정수를 입력하세요 >>>')

if number[-1] in "02468":
    print('짝수입니다.')
if number[-1] in "13579":
    print('홀수입니다.')


# num = int(input('정수를 입력하세요 >>>'))

# a = str(num)

# if a[-1] == 0 or 2 or 4 or 6 or 8:
#   print("짝수")
# else :
#   print("홀수")

정수를 입력하세요 >>>3
짝수

In [6]:
'1' in '12345'

True

In [7]:
'6' in '12345'

False

In [ ]:
#pass

number = int(input('정수입력'))

if number > 0:
    pass
else :
    pass

정수입력56

In [ ]:
#리스트와 반복문

li = [1,2,3,4,5]  # collection, mutable, ordered

for i in li:
    if i >=3:
        print(i)

3
4
5

In [9]:
# 딕셔너리와 반복문

dict = {
    1:'홍길동',
    2:'이몽룡'
}
print(dict[2])

이몽룡

In [ ]:
for i in dict:
    print(i,dict[i])

In [ ]:
list(range (0,5,2)) # 시작을 생략하면 0부터 5 미만까지 , 증감값을 생략하면 1씩 증가

In [ ]:
# for : 반복횟수를 정확히 알고 있을때 주로 사용
# while : 반복횟수를 정확히 알 수 없을때 주로 사용

# while 1 ,for 1

# 0번째 반복
# 1번째 반복
# 2번째 반복

for i in range(3) :
    print(f'{i}번째 반복')
    
    
    
i = 0          
while i < 3:
    print(f'{i}번째 반복')
    i += 1

0번째 반복
1번째 반복
2번째 반복
0번째 반복
1번째 반복
2번째 반복

In [ ]:
# 2번째 반복
# 1번째 반복
# 0번째 반복


for i in range(2,-1,-1) :
    print(f'{i}번째 반복')

2번째 반복
1번째 반복
0번째 반복

In [ ]:
# break / continue

# break 반복문 종료

i = 0

while True:
    print(f'{i}번째 반복입니다.')
    i+=1
    
    inp = input('종료할까요(y)>>')
    if inp in ['Y','y']
        print('반복을 종료합니다.')
        break

SyntaxError: ignored

In [ ]:
# continue 현재 반복을 중지하고 다음 반복으로 넘어갈때 사용
# 전체반복에서 부분을 빼고 일부만 실행할때 사용

for num in range(1,11):
    if num % 2 ==0:             # % 2 == 0  -> 짝수일때 찍음
        continue             # 일부분을 뺄때 사용
    print(num)

1
3
5
7
9

In [ ]:
# enumerate()  리스트의 요소를 반복할 때 현재 인덱스가 몇번째인지 확인


# 0번 진구
# 1번 철수
# 2번 미애
# 3번 형구
# 4번 진수

# student = ['진구','철수','미애','형구','진수']
# no = 0                                #초기값
# for name in student :
#     print(f'{no}번 {name}')
#     no+=1                              # 하나씩 증가하는것
    
    
    
    
student = ['진구','철수','미애','형구','진수']   
for no, name in enumerate(student):             # 초기값잡고, 하나씩 증가하는게 귀찮으니 enmerate쓴다
    print(f'{no+1}번{name}')

1번진구
2번철수
3번미애
4번형구
5번진수

In [ ]:
# items() 딕셔너리는 items()함수를 사용하여 key와 value값을 한번에 추출할 수 있다.

dict = {
    '홍길동' : 185,
    '이몽룡' : 189,
    '성춘향' : 168
}

# 홍길동의 키는 185입니다

for name,height in dict.items():
    print(f'{name}의 키는 {height}입니다')

홍길동의 키는 185입니다
이몽룡의 키는 189입니다
성춘향의 키는 168입니다

In [ ]:
# 리스트 내포 list comprehensions      # 어려움

array = []

for i in range(0,20,2):
    array.append(i)
    
array

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
array = [i            for i in range(0,20,2)          ]
print(array)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
array = ['사과','체리','바나나','과자']

output = [i            for i in array            if i !='과자']

print(output)

['사과', '체리', '바나나']