<a href="https://colab.research.google.com/github/10KimJunGu/ai/blob/main/py_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(0 , 10 ,1):
  print(f'{i} 김준구')

0 김준구
1 김준구
2 김준구
3 김준구
4 김준구
5 김준구
6 김준구
7 김준구
8 김준구
9 김준구

In [3]:
for i in range(0, 10, 1):
  print(f'{10-i} 김준구')

10 김준구
9 김준구
8 김준구
7 김준구
6 김준구
5 김준구
4 김준구
3 김준구
2 김준구
1 김준구

In [ ]:
for i in range(100):
  print(100-i)
  if i == 70 :
    break

In [9]:
(i+1) % 3 == 0
(i+1) % 5 == 0

for i in range(100):
  if (i+1) % 3 == 0 and (i+1) % 5 ==0:
    print(i+1)

15
30
45
60
75
90

In [11]:
for i in range(100):
  if (i+1) % 3 == 0 and (i+1) % 5 ==0:
      continue
  print(i+1)

15
30
45
60
75
90

In [9]:
dataList = [2,4,5,6]
print(len(dataList))
print(dataList[2])
print(dataList)

print("------------")

dataList.append(7)
print(dataList)

dataList.insert(1,3)
print(dataList)

print(dataList.index(7))

print("------------")


dataList.remove(4)
print(dataList)

del

4
5
[2, 4, 5, 6]
------------
[2, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]
5
------------
[2, 3, 5, 6, 7]

In [16]:
# 1~100까지 출력


# for i in range(100):
#   print(i+1)


########################################
dataList = []

for i in range(100):
  dataList.append(i+1)

print(dataList)


#######################################

dataList = [0] * 100

for i in range(100):
  dataList[i] = i + 1

print(dataList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [17]:
# 1~100까지 중 짝수만 넣고 출력

dataList = [0] * 50

for i in range(len(dataList)):
  dataList[i] = (i + 1) * 2

print(dataList)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [18]:
# A~F까지 출력

dataList = []

for i in range(6):
  dataList.append(chr(65 + i))

print(dataList)

['A', 'B', 'C', 'D', 'E', 'F']

In [19]:
# A~F까지 중 C를 제외하고 출력

dataList = [""] * 5

# 0 A, 1 B , 2 D 

temp = 0

for i in range(len(dataList)):
  temp = i
  if temp > 1:
    temp += 1
  dataList[i] = chr(65 + temp)

print(dataList)


# for i in range(len(dataList)):
#   if i > 1:
#     i+=1
#   print(i)
#   dataList[i] = chr(65 + i)

# print(dataList)

['A', 'B', 'D', 'E', 'F']

In [20]:
# aBcDeFgHiJkM.....Z 넣고 출력

dataList = [0] * 26

for i in range(len(dataList)):
  dataList[i] = chr(97 + i if i % 2 == 0 else 65 + i)

print(dataList)

for i in dataList:
  print(i, end="")

['a', 'B', 'c', 'D', 'e', 'F', 'g', 'H', 'i', 'J', 'k', 'L', 'm', 'N', 'o', 'P', 'q', 'R', 's', 'T', 'u', 'V', 'w', 'X', 'y', 'Z']
aBcDeFgHiJkLmNoPqRsTuVwXyZ

In [23]:
# "ABC"에서 B를 Z로 변경하기

strList = "ABC"
# strList[1] = "Z"
# print(strList)

print(strList.replace("B","Z"))

strList = strList.replace("B","Z")
print(strList)

AZC
AZC

In [25]:
# 자연수를 한글로 변경
# 입력 예)1024
# 출력 예)일공이사

# 1) 1024 % 10 == 4
# 2) 1024 // 10 == 102
# 3) 102 % 10 == 2
# .
# .
# .


num = int(input("자연수 입력 : "))
hangle = "공일이삼사오육칠팔구"
result = ""


while num != 0:
  result = hangle[num % 10]  + result
  num = num // 10

print(result)

자연수 입력 : 1233
일이삼삼

In [ ]:
#############################################################################

In [1]:
dataList1 = [1,2,3]
dataList2 = dataList1

dataList2.append(4)
print(dataList1)

[1, 2, 3, 4]

In [ ]:
dataTuple1 = (1,2,3)

In [ ]:
###################################################################

In [8]:
중국집 = {
    "자장면" : 1500,
    "짬뽕" : 2500
       }

print(len(중국집))
print(중국집["자장면"])

if "자장면" in  중국집:
  중국집["자장면"] = 4000

print(중국집)

if "탕수육" not in 중국집:
  중국집["탕수육"] = 9000

print(중국집)



for i in 중국집.keys():
  print(i)

for i in range(len(중국집)):
  print(str(i+1) + ". " + list(중국집.keys())[i])



total = 0
for i in 중국집.values():
  total += i

avg = total / len(중국집)
print("평균가격 : %.2f원" %avg)

2
1500
{'자장면': 4000, '짬뽕': 2500}
{'자장면': 4000, '짬뽕': 2500, '탕수육': 9000}
자장면
짬뽕
탕수육
1. 자장면
2. 짬뽕
3. 탕수육
평균가격 : 5166.67원

In [9]:
# 등급을 입력받아서 학점을 출력해주는 프로그램
# 2 입력시 B학점 입니다. 출력
# 1~5등급 , A~F학점(E학점)

num = int(input("점수를 입력하세요 : "))

if num == 1:
  print("A")
elif num == 2:
  print("B")
elif num == 3:
  print("C")
elif num == 4:
  print("D")
else :
  print("F")

점수를 입력하세요 : 4
D

In [14]:
scoreDict = {}

for i in range(5):
  scoreDict[i+1] = chr(i+66) if i == 4 else chr(i + 65)

rating = int(input("등급 : "))

for i in range(5):
  if rating == i+1:
    print(scoreDict[rating] + "학점입니다.")
    break

등급 : 3
C학점입니다.

In [ ]:
#########################################################################################

In [15]:
numDict = {"even" : [2,4,6], "odd" : [1,3,5]}

for i in numDict["even"]:
  print(i)


numListDict = {"1학년" : [[30,40,50], [80,90,100]]}

for i in numListDict["1학년"]:
  for j in i:
    print(j)
  
  print("=========")

2
4
6
30
40
50
=========
80
90
100
=========

In [17]:
# 학생 이름과 학생 점수를 입력받고
# 추가, 수정, 삭제, 목록

title = "학생 성적 관리 프로그램\n"

msg = "1.추가\n 2.수정\n 3.삭제\n 4.목록\n 5.나가기\n"

errMsg = "다시 시도해 주세요"

studentDict = {}
subjectList = ["국어", "영어", "수학"]

while True:
  choice = int(input(title + msg))
  #추가
  if choice == 1:
    name = input("학생이름 : ")
    if name not in studentDict:
      studentDict[name] = input("다음과 같이 각 점수를 입력하세요. : \n예)국어,영어,수학 ").split(",")
    else:
      print("이미 등록된 학생입니다.")
    print(studentDict)
  
  #수정
  elif choice == 2:
    choice = int(input("1.학생명\n2.점수\n"))
    name = input("수정할 학생명 : ")
    if choice ==1:
      if name in studentDict:
        new = input("새로운 학생명 : ")
        # 기존학생을 삭제하기 전
        # 점수를 임시로 담아 놓는다.
        scoreList = studentDict[name]

        # 기존 학생 삭제 후
        # 새롭게 추가될 학생 추가(점수는 그대로)
        del studentDict[name]
        studentDict[new] = scoreList
      else:
        print("존재하지 않은 학생입니다.")
    elif choice == 2:
      choice = int(input("1.국어점수\n2.영어점수\n3.수학점수\n"))
      studentDict[name][choice-1] = int(input("새로운 점수 : "))
  
  #삭제
  elif choice == 3:
    name = input("삭제할 학생명 : ")
    if name in studentDict:
      del studentDict[name]
    else:
      print("존재하지 않은 학생입니다.")

  # 목록
  elif choice == 4:
    for i in studentDict.keys():
      print("[" + i + "]")
      cnt = 0
      for j in studentDict[i]:
        print(subjectList[cnt] + ":" + str(j) + "점")
        cnt += 1

  #나가기
  elif choice == 5:
    break

  # 그 외
  else:
    print(errMsg)

학생 성적 관리 프로그램
1.추가
 2.수정
 3.삭제
 4.목록
 5.나가기
1
학생이름 : 김준구
다음과 같이 각 점수를 입력하세요. :
예)국어,영어,수학 100,70,80
{'김준구': ['100', '70', '80']}
학생 성적 관리 프로그램
1.추가
 2.수정
 3.삭제
 4.목록
 5.나가기
5